.header{
    alignment: center;
    margin: 0 auto;
    padding: 0;
    background-color: #1b2747;
    color: white;

}
.haut{
    display: inline-flex;

}

.navigation{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lien{
    text-align: center;
    padding:5px 10px 5px 10px;
    font:bold 13px Arial;
    background:#f5f5f5;
    color:#555;
    border-radius:2px;
    text-align: center;
    border:1px solid #ccc;
    box-shadow:1px 1px 3px #999;
    text-decoration: none;
}

.lien:hover{
    background-color: white;
    text-decoration: none;
}